<h1 class="text-center"> The Investor School (TIS)  <h1>
     <body>
          <div  class="row">
               <div class="col-md-6 offset-md-3">
                    <nav class="navbar navbar-dark bg-primary"> Datos  </nav>
               </div>
               <div class="col-md-6 offset-md-3">
               <app-info  (infoUpdate) = "infEntrada($event)"></app-info>
               </div>
          </div>
          <div class="row">
               <div class="col-md-6 offset-md-3">
                    <nav class="navbar navbar-dark bg-primary"> Informacion confirmada  </nav>
               </div>
               <div class="col-md-6 offset-md-3">               
               <app-entrada [infoConfi]="infoListener"></app-entrada>
              </div>
          </div>
          <div class="row">
               <div class="col-md-6 offset-md-3">
                    <nav class="navbar navbar-dark bg-primary"> resultados de simulacion  </nav>
              </div>
               <div class="col-md-6 offset-md-3">             
               <app-resultado [infoResult]="infoListener"></app-resultado>
               </div>
          </div>
     </body>